.services-parent {
  position: relative;
  padding: 40px 90px;
  background-color: #110321;
  max-width: 2000px;
  margin: auto;
}

.services-header-text h2 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin: 0px 0 45px 0;
}

.services-header-text h2 span {
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #a867ff;
}

.services-parent .swiper-next-btn {
  position: absolute;
  top: 65%;
  right: 30px;
  z-index: 999999;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9747ff;
  border-radius: 50%;
  cursor: pointer;
  color: #9747ff;
}
.services-parent .swiper-prev-btn {
  position: absolute;
  top: 65%;
  left: 30px;
  z-index: 999999;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9747ff;
  border-radius: 50%;
  cursor: pointer;
  color: #9747ff;
}

.services-parent .swiper {
  width: 100%;
  height: calc(100vh-50px);
}

.services-parent .swiper-slide {
  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .services-parent {
    padding: 40px 50px;
  }

  .services-header-text h2 {
    font-size: 30px;
    margin: 0px 0 15px 0;
  }

  .services-parent .swiper-next-btn {
    top: 55%;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .services-parent .swiper-prev-btn {
    top: 55.5%;
    left: 10px;
    width: 30px;
    height: 30px;
  }
}
