.choose-us-parent {
  position: relative;
  padding: 50px;
  max-width: 2000px;
  margin: auto;
  overflow: hidden;
}

.choose-us-parent::after {
  content: "";
  position: absolute;
  background-image: url("../../assests/decoration.png");
  top: 85px;
  right: 0px;
  width: 159px;
  height: 295px;
  background-size: cover;
  z-index: -1;
}

.choose-us-parent h3 {
  color: #ffffff;
  font-size: 50px;
}

.choose-us-parent h3 span {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #9747ff;
}

@media (max-width: 768px) {
  .choose-us-parent {
    padding: 30px 20px;
  }
}

@media (max-width: 600px) {
  .choose-us-parent h3 {
    font-size: 30px;
  }
}
