.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  margin: 0;
}

.card-container a {
  text-decoration: none;
  width: 100%;
}

.card-container .service-card-img-box {
  width: 100%;
  overflow: hidden;
  height: auto;
}

.card-container img {
  width: 100%;
  min-height: 100%;
}

.card-container .card-content h5 {
  margin: 0;
  margin-top: -90px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.card-container .card-content p {
  margin: 0;
  font-size: 15px;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .card-container .card-content {
    margin-top: -25%;
    margin-bottom: 40px;
  }

  .card-container .card-content h5 {
    font-size: 20px;
    margin-top: -40px;
  }

  .card-container .service-card-img-box {
    /* max-height: 200px; */
  }
}

@media (max-width: 600px) {
  .card-container {
  }
  .card-container .service-card-img-box {
  }
  .card-container .card-content h5 {
    font-size: 12px;
    margin-top: 10px;
  }
  .card-container .card-content p {
    font-size: 12px;
    margin-top: 10px;
  }
}
