.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  margin: 0 5px;
}

.card-container a {
  text-decoration: none;
  width: 100%;
}

.card-container .service-card-img-box {
  width: 100%;
  overflow: hidden;
  height: 370px;
}
.card-container img {
  width: 100%;
  min-height: 100%;
}

.card-container .card-content h5 {
  margin: 0;
  margin-top: 0px;
  margin-top: 15px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.card-container .card-content p {
  margin: 0;
  font-size: 15px;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .card-container .card-content h5 {
    font-size: 20px;
  }

  .card-container .service-card-img-box {
    /* max-height: 200px; */
  }
}

@media (max-width: 600px) {
  .card-container {
    width: 170px;
  }
  .card-container .service-card-img-box {
    max-height: 141px;
    min-height: 141px;
  }
  .card-container .card-content h5 {
    font-size: 12px;
  }
  .card-container .card-content p {
    font-size: 12px;
  }
}
